/*
 * Bones Design System
 * Author: Eddie Machado
 * Styles for your Styleguide where you can see the details of the project.
 */



// pulling in variables from the project
@import 'base/variables';

// this is the grid used exclusively in the styleguide
@import 'styleguide/grid';


body {
	font-family: $fontStackPrimary;
	font-size: $fontBase-01;
	line-height: 1.5;
	color: $colText-01;
}


.wrapper {
	margin: 0 auto;
	width: 90%;
	float: none;
}




.header {
	height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $colUI-01;
	z-index: 3000; /* the highest on the site */
	box-shadow: $layRaised;
}

.bds-sg-navtitle {
	font-size: $fontMedium-01;
	line-height: 56px;
	font-weight: $fontWeight-Bold
}

.bds-title-bold {
	color: $colPrimary-04;

}



/**********
SIDE NAV
Used for main navigation on site
**********/

.side-nav {
	background-color: $colUI-01;
	padding: 80px 0;
	z-index: 2000;
}






.list-nav {
	font-size: $fontSmall-02;
}

.list-nav li {

}

.list-nav a {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 44px;
	line-height: 44px;
	color: $colText-02;
	text-decoration: none;
	padding: 0 16px 0 8px;
	transition: background-color $motionSpeed-01 $motionStandard;
}

.list-nav i {
	margin-right: 8px;
	display: inline-block;
	text-align: center;
	width: 24px;
	line-height: 44px;

}

.list-nav a:hover {
	background-color: $colUI-02;
}

.list-nav-see-all {}

.list-nav-see-all [class*="icon-"]:before {
	display: block;
	text-align: center;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin-right: 8px;
}



.nav-header {
	margin: 32px 16px 8px 8px;
	color: $colText-03;
	font-weight: $fontWeight-Bold;
	font-size: $fontSmall-01;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.side-nav .list-tiny {

}

.side-nav .list-tiny a {
	display: block;
	padding: 0 16px 0 24px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
	color: $colText-01;
}

.avatar-nav {
	display: inline-flex;
	width: 24px;
	height: 24px;
	margin-right: 8px;
	background-color: $colUI-02;
	border-radius: $radii-02;
}

.nav-text {
	font-weight: $fontWeight-Bold;
	display: inline-flex;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex: 1;
}

.side-nav .nav-dot {
	background-color: $colSecondary-01;
	color: $colTextInverse-01;
	width: 24px;
	text-align: center;
	margin: 12px 0;
	height: 24px;
	line-height: 24px;
	border-radius: $radii-02;
}

/** on larger screens, show the side nav by default **/
@media screen and (max-width: 1200px) {

	.side-nav {
		left: -260px;
	}

	/* showing menu */
	.nav-open .side-nav {
		left: 0;
	}

}




.bds-sg-main {
	padding: 100px 0;
}

/**********
DESIGN SYSTEM STYLES
These are the styles for the design system.
**********/



#logo {
	display: inline-flex;
	height: 64px;
}

.list-nav li.done,
.list-nav li.dev {
	position: relative;
}

.list-nav li.new .nav-text:after,
.list-nav li.done .nav-text:after,
.list-nav li.dev .nav-text:after {
	font-size: $fontSmall-01;
	color: $colTextInverse-01;
	line-height: 1em;
	margin-left: 8px;
	padding: 4px 8px;
	display: inline-flex;
	position: absolute;
	top: 12px;
	right: 12px;
	border-radius: $radii-02;
}

.list-nav li.dev .nav-text:after {
	content: 'Dev';
	background-color: $colWarning-01;
}

.list-nav li.done .nav-text:after {
	content: 'Done';
	background-color: $colSuccess-01;
}

.list-nav li.new .nav-text:after {
	content: 'New';
	background-color: $colPrimary-03;
}

.bds-sg-header {
	margin: 0 0 24px;
	padding: 0 0 24px;
	border-bottom: 1px solid $colUI-03;

	h1 {
		margin: 0 0 8px;
	}

}

.bds-sg-subtitle {
	margin: 24px 0 8px;
}


.fieldset-demo {
	background-color: $colUI-02;
	border: 1px solid $colUI-03;
	padding: 24px;
	margin: 16px 0 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.fieldset-demo.bds-sg-btn-blocks {
	display: block;
	text-align: center;
}

.fieldset-demo.no-flex {
	display: block;
}

.fieldset-demo.bds-sg-btn-blocks .btn {
	display: block;
	margin: 0 0 16px;
}

.fieldset-demo + .code-snippet {
	border-top: 0;
	margin: 0 0 64px;
}


.bds-sg-tile {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 124px;
	height: 124px;
	background-color: $colUI-01;
	margin: 1em;
}

.ic-container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 24px 0 0;
}

.ic-preview-block {
	position: relative;
	display: flex;
	align-items: left;
	flex-direction: column;
	justify-content: center;
	margin: 0 0.3% 4em 0;
	width: 19.7%;

	.strong {
		font-size: $fontSmall-02;
	}

}

.ic-preview-tile {
	text-align: center;
	width: 100%;
	height: 148px;
	background-color: $colUI-01;
	margin: 0 0 8px;
}

.ic-preview-tile i {
	font-size: $fontMedium-03;
	display: block;
	text-align: center;
	line-height: 148px;
	color: $colText-02;
}

.svg-dl-link {
	visibility: hidden;
	position: absolute;
	top: 8px;
	right: 8px;
	text-decoration: none;
	font-size: $fontSmall-01;
	font-weight: $fontWeight-Bold;
	color: $colText-01;
	background-color: $colUI-03;
	padding: 2px 8px;
	border-radius: $radii-02;
	transition: background-color $motionSpeed-01 $motionStandard, color $motionSpeed-01 $motionStandard;
}

.svg-dl-link:hover,
.svg-dl-link:focus {
	background-color: $colPrimary-01;
	color: $colUI-05;
}

.ic-preview-block:hover .svg-dl-link {
	visibility: visible;
}


// background color overrides
// these are for the colors page

.bg-primary-01 { background-color: $colPrimary-01; }
.bg-primary-02 { background-color: $colPrimary-02; }
.bg-primary-03 { background-color: $colPrimary-03; }
.bg-primary-04 { background-color: $colPrimary-04; }
.bg-primary-05 { background-color: $colPrimary-05; }

.bg-secondary-01 { background-color: $colSecondary-01; }
.bg-secondary-02 { background-color: $colSecondary-02; }
.bg-secondary-03 { background-color: $colSecondary-03; }
.bg-secondary-04 { background-color: $colSecondary-04; }
.bg-secondary-05 { background-color: $colSecondary-05; }

.bg-ui-01 { background-color: $colUI-01; }
.bg-ui-02 { background-color: $colUI-02; }
.bg-ui-03 { background-color: $colUI-03; }
.bg-ui-04 { background-color: $colUI-04; }
.bg-ui-05 { background-color: $colUI-05; }
.bg-ui-06 { background-color: $colUI-06; }
.bg-ui-07 { background-color: $colUI-07; }
.bg-ui-08 { background-color: $colUI-08; }
.bg-ui-09 { background-color: $colUI-09; }
.bg-ui-10 { background-color: $colUI-10; }

.bg-true-black { background-color: $colTrueBlack; }
.bg-true-white { background-color: $colTrueWhite; }

.bg-text-01 { background-color: $colText-01; }
.bg-text-02 { background-color: $colText-02; }
.bg-text-03 { background-color: $colText-03; }
.bg-text-inverse-01 { background-color: $colTextInverse-01; }
.bg-text-inverse-02 { background-color: $colTextInverse-02; }

.bg-support-danger-01 { background-color: $colDanger-01; }
.bg-support-danger-02 { background-color: $colDanger-02; }
.bg-support-danger-03 { background-color: $colDanger-03; }
.bg-support-success-01 { background-color: $colSuccess-01; }
.bg-support-success-02 { background-color: $colSuccess-02; }
.bg-support-success-03 { background-color: $colSuccess-03; }
.bg-support-warning-01 { background-color: $colWarning-01; }
.bg-support-warning-02 { background-color: $colWarning-02; }
.bg-support-warning-03 { background-color: $colWarning-03; }
.bg-support-note-01 { background-color: $colNote-01; }
.bg-support-note-02 { background-color: $colNote-02; }
.bg-support-note-03 { background-color: $colNote-03; }
