/* 
 * Buttons
 */

.btn {
	font-family: $fontStackPrimary;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.04em;
	font-weight: $fontWeight-Bold;
	text-decoration: none;
	text-transform: none;
	display: inline-block;
	position: relative;
	min-width: 64px;
	height: 48px;
	line-height: 48px;
	padding: 0 24px;
	border: none;
	outline: none;
	text-align: center;
	user-select: none;
	-webkit-appearance: none;
	overflow: hidden;
	vertical-align: middle;
	border-radius: $radii-02;
	cursor: pointer;
	transition: $motionSpeed-01 $motionStandard;
}

.btn:hover {
	outline: none;
}

.btn:active {
}

/* Solid Buttons */

.btn-primary {
	background-color: $colPrimary-03;
	color: $colTextInverse-01;
}

.btn-primary:hover {
	background-color: $colPrimary-04;
}

.btn-secondary {
	background-color: $colSecondary-03;
	color: $colTextInverse-01;
}

.btn-secondary:hover {
	background-color: $colSecondary-04;
}

.btn-dark {
	background-color: $colText-01;
	color: $colTextInverse-01;
}

.btn-dark:hover {
	background-color: $colText-02;
}

.btn-light {
	background-color: $colUI-01;
	color: $colText-01;
}

.btn-light:hover {
	background-color: $colUI-02;
}

.btn-success {
	background-color: $colSuccess-01;
	color: $colTextInverse-01;
}

.btn-success:hover {
	background-color: $colSuccess-02;
}

.btn-destroy {
	background-color: $colDanger-01;
	color: $colTextInverse-01;
}

.btn-destroy:hover {
	background-color: $colDanger-02;
}

/* Outline Buttons */

.btn-outline {
	background-color: transparent;
	border: 3px solid;
	line-height: 32px;
}

.btn-outline.btn-primary {
	border-color: $colPrimary-03;
	color: $colPrimary-03;
}

.btn-outline.btn-primary:hover {
	background-color: $colPrimary-03;
	color: $colTextInverse-01;
}

.btn-outline.btn-secondary {
	border-color: $colSecondary-03;
	color: $colSecondary-03;
}

.btn-outline.btn-secondary:hover {
	background-color: $colSecondary-03;
	color: $colTextInverse-01;
}

.btn-outline.btn-dark {
	border-color: $colText-01;
	color: $colText-01;
}

.btn-outline.btn-dark:hover {
	background-color: $colText-01;
	color: $colTextInverse-01;
}

.btn-outline.btn-light {
	border-color: $colUI-01;
	color: $colUI-04;
}

.btn-outline.btn-light:hover {
	background-color: $colUI-02;
	color: $colText-01;
}

.btn-outline.btn-destroy {
	border-color: $colDanger-01;
	color: $colDanger-01;
}

.btn-outline.btn-destroy:hover {
	background-color: $colDanger-01;
	color: $colTextInverse-01;
}

/* Transparent Buttons */

.btn-transparent {
	background-color: transparent;
}

.btn-transparent.btn-primary {
	color: $colPrimary-01;
}

.btn-transparent.btn-primary:hover {
	background-color: $colPrimary-03;
	color: $colTextInverse-01;
}

.btn-transparent.btn-secondary {
	color: $colSecondary-03;
}

.btn-transparent.btn-secondary:hover {
	background-color: $colSecondary-03;
	color: $colTextInverse-01;
}

.btn-transparent.btn-dark {
	color: $colText-01;
}

.btn-transparent.btn-dark:hover {
	background-color: $colText-01;
	color: $colTextInverse-01;
}

.btn-transparent.btn-light {
	color: $colUI-01;
}

.btn-transparent.btn-light:hover {
	background-color: $colUI-04;
	color: $colText-01;
}

.btn-transparent.btn-destroy {
	color: $colDanger-01;
}

.btn-transparent.btn-destroy:hover {
	background-color: $colDanger-01;
	color: $colTextInverse-01;
}

/* Icon Buttons */

.btn-icon {
	padding-left: 42px;
}

.btn-icon:before {
	line-height: 34px;
	position: absolute;
	left: 16px;
	top: 0;
}

.btn-outline.btn-icon:before,
.btn-outline.btn-icon:before,
.btn-outline.btn-icon:before,
.btn-outline.btn-icon:before,
.btn-outline.btn-icon:before {
	line-height: 28px;
}

/* Large Buttons */

.btn-large {
	height: 52px;
	padding: 0 24px;
	font-size: $fontBase-02;
}

.btn-large.btn-icon {
	padding-left: 56px;
}

.btn-large.btn-icon:before {
	line-height: 46px;
	left: 24px;
}

/* Small Buttons */

.btn-small {
	height: 34px;
	line-height: 32px;
	font-size: $fontSmall-01;
	border-width: 2px !important;
}

.btn-small.btn-icon {
	padding-left: 34px;
}

.btn-small.btn-icon:before {
	line-height: 32px;
	left: 12px;
	font-size: $fontSmall-01;
}


/* Block Buttons */

.btn-block {
	display: block;
	width: 100%;
}

/* exclusive buttons */
.btn-facebook {
	background-color: #3b5998;
	color: $colTextInverse-01;
}

/* Disabled Buttons */

.btn[disabled],
.btn[disabled]:hover {
	background-color: $colUI-02;
	border-color: $colUI-02;
	color: $colText-03;
	cursor: not-allowed;
}


/* subscribe btn */

.btn-subscribe.is-subscribed {
	background-color: $colSecondary-02;
	opacity: 0.8;
}

.btn-subscribe.is-subscribed:hover {
	background-color: $colSecondary-02;
	opacity: 1;
}
