/*
 * Layers
 * These are the shadows to be applied to elements to show depth. You can add this on anything needed.
 */


.layer-flat {
	box-shadow: $layFlat;
}

.layer-raised {
	box-shadow: $layRaised;
}

.layer-overlay {
	box-shadow: $layOverlay;
}

.layer-sticky {
	box-shadow: $laySticky;
}

.layer-pop {
	box-shadow: $layPop;
}
