/* 
 * Links
 */

.link {
	border: 0;
	padding: 0;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.link:hover:before {
	text-decoration: none;
}

.link-primary {
	color: $colPrimary-01;
}

.link-secondary {
	color: $colSecondary-01;
}

.link-icon {
	text-decoration: none;
}

.link-icon:before {
	margin-right: 8px;
	text-decoration: none;
}