/*
 * Lists
 */

ol,ul {
	margin: $spacing-16x 0 $spacing-16x $spacing-24x;
	padding: 0;
}

.list-stripped {
	list-style-type: none;
}

.list-tiny {
	font-size: $fontSmall-02;
}

li {
	margin: 0 0 $spacing-4x;
}

dt {
	font-weight: $fontWeight-Bold;
}

dd {
	color: $colText-02;
	margin: 0 0 $spacing-12x;
}
