/*
 * Notification
 */



.notification {
	border: 1px solid $colUI-03;
	background-color: $colUI-02;
	margin: $spacing-16x 0;
	padding: 16px;
	border-radius: $radii-02;
}

.notification ul,
.notification ol {
	padding-left: $spacing-24x;
	margin: 8px 0 0;
}

.noti-danger {
	background-color: $colDanger-03;
	border-color: $colDanger-02;
}

.noti-success {
	background-color: $colSuccess-03;
	border-color: $colSuccess-02;
}

.noti-warning {
	background-color: $colWarning-03;
	border-color: $colWarning-02;
}
