/*
 * Pagination
 */

.pagination {
	display: inline-flex;
	align-content: center;
	margin: 0 auto;
}

.list-pagination {
	display: flex;
	list-style: none;
	border: 1px solid $colUI-03;
	border-radius: $radii-02;
}

.list-pagination li {
	display: list-item;
	margin: 0;
	border-right: 1px solid $colUI-03;
}

.list-pagination li:last-child {
	border-right: 0;
}

.list-pagination li:first-child a {
	border-radius: $radii-02 0 0 $radii-02;
}

.list-pagination li:last-child a {
	border-radius: 0 $radii-02 $radii-02 0;
}

.list-pagination a {
	display: block;
	line-height: 34px;
	width: 34px;
	height: 34px;
	text-align: center;
	text-decoration: none;
	color: $colText-02;
	background-color: transparent;
	transition: $motionSpeed-01 $motionStandard;
}

.list-pagination a:hover {
	background-color: $colUI-02;
}

.list-pagination a[aria-current="true"] {
	cursor: default;
	background-color: $colPrimary-03;
	color: $colTextInverse-01;
	font-weight: $fontWeight-Bold;
}

.list-pagination a[aria-current="true"]:hover {
	background-color: $colPrimary-03;
	color: $colTextInverse-01;
}
