/* 
 * Seperator
 */


.seperator {
	margin: 48px 0;
	height: 1px;
	width: 100%;
	border: 0;
	background-color: $colUI-02;
}

.seperator-16 {
	margin: 16px 0;
	height: 1px;
	width: 100%;
	border: 0;
	background-color: $colUI-02;
}