/*
 * Seperator
 */


.seperator {
	margin: $spacing-48x 0;
	height: 1px;
	width: 100%;
	border: 0;
	background-color: $colUI-02;
}

.seperator-16 {
	margin: $spacing-16x 0;
	height: 1px;
	width: 100%;
	border: 0;
	background-color: $colUI-02;
}
