/* 
 * Tags
 */

.tag {
	display: inline-flex;
	align-items: center;
	font-size: $fontSmall-02;
	line-height: 1.25em;
	border-radius: $radii-02;
	padding: 4px 12px;
	margin: 4px;
	text-decoration: none;
	color: $colText-02;
	background-color: $colUI-02;
	transition: $motionSpeed-01 $motionStandard;
}

.tag:hover,
.tag:focus {
	outline: none;
	color: $colText-02;
	background-color: $colUI-01;
}

.tag:not(:first-child) {
	margin-left: 0;
}
